.header_jumbotron {
  // custom
  // background: transparent;
  background-image: url("/assets/images/header_image_bw.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: #444 0 1px 1px;
  // height: 160px;
  // standard
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 1.1) $jumbotron-padding;
  }
}
