<!-- <div class="p-3 border" style="background:blue"> -->
  <h2> {{ site.whoamI }}</h2>
  <div class="pl-4 pr-4 pt-2 mr-1 mb-3">
    <img class="img-fluid rounded" src="/assets/images/squared_headshot.jpg" alt="https://en.wikipedia.org/wiki/Grumpy_Cat#/media/File:Grumpy_Cat_by_Gage_Skidmore.jpg">
  </div>
  <!-- <img src="/assets/images/squared_headshot.jpg" class="rounded-lg" alt="https://en.wikipedia.org/wiki/Grumpy_Cat#/media/File:Grumpy_Cat_by_Gage_Skidmore.jpg"> -->
  <p class="text-justify mr-2 mb-4" style="line-height:1"><small>You'll have to cope with this picture from my previous consulting life till I get a better one (certainly without a tie).</small></p>

  <h5>Contacts:</h5>
  <div class="list-group">
     <li class="list-group-item"><i class="fas fa-at mr-2"></i> {{ site.email }} </li>
     <a href="https://github.com/{{ site.github_username | escape }}" class="list-group-item list-group-item-action"><i class="fab fa-github mr-2"></i> {{ site.github_username }}</a>
     <a href="https://www.linkedin.com/in/{{ site.linkedin_username | escape }}" class="list-group-item list-group-item-action"><i class="fab fa-linkedin-in mr-2"></i> {{ site.linkedin_username }} </a>
   </div>
<!-- </div> -->
