<header>
  <!-- from minima, to create navbar -->
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

  <!-- from w3school -->
  <!-- <div class="header_jumbotron text-center" style="margin-bottom:0;">
    <h1>{{ site.title }}</h1>
  </div> -->
</header>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" style="padding-top: 1px; padding-bottom: 1px">
  <div class="container">
    {%- if page.title == "Home" -%}
      <div class="pl-3">
        <a class="navbar-brand" href="{{ site.url }}"> {{ site.title }} </a>
    {% else %}
      <div class="pl-3">
        <a class="navbar-brand" href="{{ site.url }}"> {{ site.title }} </a>
    {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- from minima template -->
      <ul class="navbar-nav">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              {%- if my_page.title != "Home" -%}
                <li class="nav-item">
                  {%- if page.title == my_page.title -%}
                  <a class="nav-link active" href="{{ my_page.url | relative_url }}"><strong>{{ my_page.title | escape }}</strong></a>
                  {%- else -%}
                  <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
