<div class="">
  <!-- <a href="{{ page.list_title | default: "Posts" }}"> -->
  <!-- <a href="{{ post.list.title | default: "Posts" }}"> -->
  <h4> In progress </h4>
  <!-- </a> -->
  <ul class="">
    {%- for post in site.posts -%}
      {%- if post.type == "paper" -%}
        {%- if post.status == "in progress" -%}
          <li>
            <div class="pb-2">
              <p>
                <div class="mb-0"><strong>
                  <span class="text-primary" id="{{ post.title | escape }}">
                    {{ post.title | escape }}
                  </span>
                </strong></div>
                <div class=""> with:
                  {% for coauthor in post.coauthors %}
                    <span>{{ coauthor }}</span>
                  {% endfor %}
                </div>
              </p>
              <p>
                <div class="">
                  <strong>In a nutshell:</strong>
                </div>
                <div class="">
                  {{ post.content }}
                </div>
              </p>
            </div>
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

<br>
