{%- if site.posts.size > 0 -%}
  <div style="margin-bottom:50px">
    <!-- <a href="{{ page.list_title | default: "Posts" }}"> -->
    <!-- <a href="{{ post.list.title | default: "Posts" }}"> -->
      <h4 class="">{{ page.post_list_title | default: "Latest posts" }}</h4>
    <!-- </a> -->
    <ul class="">
      {%- for post in site.posts -%}
        {%- if post.type == "blogpost" -%}
          {%- if post.include -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <p>
                <div class="">
                  {{ post.date | date: date_format }}
                </div>
                <div class="">
                </div>
                <a class="" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </p>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p> -->
  </div>
{%- endif -%}
