{%- if site.posts.size > 0 -%}
  <div style="">
    <ul class="">
      {%- for post in site.posts -%}
        {%- if post.type == "blogpost" -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="">{{ post.date | date: date_format }}</span>
              <h6>
                <a class="" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h6>
            </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p> -->
  </div>
{%- endif -%}
